In [2]:
import pandas as pd

In [8]:
repository_url = "https://raw.githubusercontent.com/baertsch/FIN-429/main/"
# Revenues (annual frequency)
rev_y = pd.read_excel(repository_url+"DS_REV_USD_Y.xlsx")
# Return index (monthly frequency)
ri_m = pd.read_excel(repository_url+"DS_RI_USD_M.xlsx")
# Return index (annual frequency)
ri_y = pd.read_excel(repository_url+"DS_RI_T_USD_Y.xlsx")
# Scope 1
scope1 = pd.read_excel(repository_url+"Scope_1.xlsx")
# Scope 2
scope2 = pd.read_excel(repository_url+"Scope_2.xlsx")

In [9]:
scope1

,NAME,ISIN,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,SCHLUMBERGER,AN8068571086,NaN,NaN,1400000.0,1136000.0,1358000.0,1423000.0,1423000.0,1125000.0,1369000.0,1483000.0,1483000.0
1,ALUAR,ARALUA010258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BANCO BBVA ARGENTINA,ARP125991090,NaN,NaN,NaN,NaN,NaN,1623.0,1709.0,1847.0,1847.0,1868.0,367.0
3,TERNIUM ARGENTINA SOCIEDAD ANONIMA,ARSIDE010029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,STRABAG SE,AT000000STR1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,768433.0,768433.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2560,ALTRON LIMITED A,ZAE000191342,NaN,NaN,NaN,NaN,NaN,NaN,7834.0,NaN,NaN,NaN,NaN
2561,ABSA GROUP,ZAE000255915,NaN,NaN,NaN,NaN,19139.0,22294.0,22019.0,13458.0,13458.0,15885.0,15885.0
2562,NORTHAM PLATINUM HLDGS,ZAE000298253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56179.0,58994.0,50096.0,68637.0
2563,AVENG,ZAE000302618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2564,NAMPAK,ZAE000322095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN