In [2]:
import pandas as pd

In [8]:
repository_url = "https://raw.githubusercontent.com/baertsch/FIN-429/main/"
# Revenues (annual frequency)
rev_y = pd.read_excel(repository_url+"DS_REV_USD_Y.xlsx")
# Return index (monthly frequency)
ri_m = pd.read_excel(repository_url+"DS_RI_USD_M.xlsx")
# Return index (annual frequency)
ri_y = pd.read_excel(repository_url+"DS_RI_T_USD_Y.xlsx")
# Scope 1
scope1 = pd.read_excel(repository_url+"Scope_1.xlsx")
# Scope 2
scope2 = pd.read_excel(repository_url+"Scope_2.xlsx")

In [19]:
# Filter for European firms
european_countries = ["AT", "BE", "DK", "FI", "FR", "DE", "IE", "IT", "NL", 
                       "NO", "PT", "ES", "SE", "CH", "GB"]
def filter_europe(df, codes):
    df['Country Code']=df['ISIN'].str[:2]
    df = df[df['Country Code'].isin(codes)]
    return df
rev_y = filter_europe(rev_y,european_countries)
ri_m = filter_europe(ri_m,european_countries)
ri_y = filter_europe(ri_y,european_countries)
scope1 = filter_europe(scope1,european_countries)
scope2 = filter_europe(scope2,european_countries)
scope2

/var/folders/3d/zlkn8h8d2yx5345bf7csn9bh0000gn/T/ipykernel_7253/3155145502.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country Code']=df['ISIN'].str[:2]

,NAME,ISIN,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Country Code
4,STRABAG SE,AT000000STR1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164315.0,164315.0,NaN,AT
5,FLUGHAFEN WIEN,AT00000VIE62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AT
6,RAIFFEISEN BANK INTL.,AT0000606306,327.0,327.0,164.0,25801.0,26621.0,26283.0,49708.0,46427.0,41064.0,35111.0,35111.0,AT
7,ERSTE GROUP BANK,AT0000652011,80456.0,80456.0,115063.0,54377.0,48635.0,34211.0,34884.0,32562.0,22884.0,18686.0,13153.0,AT
8,TELEKOM AUSTRIA,AT0000720008,195246.0,195246.0,176186.0,178038.0,190621.0,217310.0,193222.0,226294.0,176340.0,176340.0,115241.0,AT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,ELECTROLUX B,SE0016589188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210581.0,216823.0,216823.0,189829.0,SE
1711,ATLAS COPCO A,SE0017486889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102000.0,138000.0,142000.0,SE
1712,MODERN TIMES GROUP MTG B,SE0018012494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,804.0,1180.0,402.9,SE
1713,WIHLBORGS FASTIGHETER,SE0018012635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1989.0,2052.0,2052.0,SE
1714,BOLIDEN ORD SHS,SE0020050417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,312000.0,215000.0,SE