In [2]:
import pandas as pd

In [33]:
repository_url = "https://raw.githubusercontent.com/baertsch/FIN-429/main/"
# Revenues (annual frequency)
rev_y = pd.read_excel(repository_url+"DS_REV_USD_Y.xlsx")
# Return index (monthly frequency)
ri_m = pd.read_excel(repository_url+"DS_RI_USD_M.xlsx")
# Return index (annual frequency)
ri_y = pd.read_excel(repository_url+"DS_RI_T_USD_Y.xlsx")
# Scope 1
scope1 = pd.read_excel(repository_url+"Scope_1.xlsx")
# Scope 2
scope2 = pd.read_excel(repository_url+"Scope_2.xlsx")
# Market capitalization (monthly frequency)
mv_m = pd.read_excel(repository_url+"DS_MV_USD_M.xlsx")
# Market capitalization (annual frequency)
mv_y = pd.read_excel(repository_url+"DS_MV_USD_M.xlsx")

In [34]:
# Filter for European firms
european_countries = ["AT", "BE", "DK", "FI", "FR", "DE", "IE", "IT", "NL", 
                       "NO", "PT", "ES", "SE", "CH", "GB"]
def filter_europe(df, codes):
    df['Country Code']=df['ISIN'].str[:2]
    df = df[df['Country Code'].isin(codes)]
    return df
rev_y = filter_europe(rev_y,european_countries)
ri_m = filter_europe(ri_m,european_countries)
ri_y = filter_europe(ri_y,european_countries)
scope1 = filter_europe(scope1,european_countries)
scope2 = filter_europe(scope2,european_countries)
mv_m = filter_europe(mv_m,european_countries)
mv_y = filter_europe(mv_y,european_countries)

In [46]:
ri_y[ri_y[2024].isna()]

,NAME,ISIN,1999,2000,2001,2002,2003,2004,2005,2006,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Country Code
262,CREDIT SUISSE GROUP DEAD - DELIST.14/06/23,CH0012138530,866.29,1031.27,1200.08,889.35,530.03,1008.79,1082.91,1617.77,...,553.32,591.13,782.15,520.18,586.76,628.27,451.23,174.77,NaN,CH
383,LEONI DEAD - DELIST.21/08/23,DE0005408884,258.76,255.44,219.37,226.43,318.35,689.13,781.43,1088.78,...,1463.00,1699.28,3173.05,1430.19,542.21,683.30,500.01,163.81,NaN,DE
427,MCKESSON EUROPE DEAD - DELIST.15/06/23,DE000CLS1001,1746.06,1048.24,1118.57,1335.62,1311.11,1830.53,2682.78,3395.66,...,2545.73,2546.27,3160.82,2944.77,2957.03,3321.51,2921.93,2449.51,NaN,DE
479,MEDIASET ESPANA COMUNICACION,ES0152503035,NaN,NaN,NaN,NaN,NaN,NaN,206.06,261.81,...,163.03,204.85,196.18,125.79,107.58,108.34,90.53,68.59,NaN,ES
488,ZARDOYA OTIS DEAD - DELIST.09/05/22,ES0184933812,1163.48,740.14,967.08,1151.98,1700.52,2979.34,4379.48,4793.79,...,4961.09,4249.68,5704.73,4431.43,4327.99,4048.75,4924.46,NaN,NaN,ES
507,NELES DEAD - DELIST.01/04/22,FI4000440664,386.23,529.84,398.34,461.51,410.35,580.28,772.23,1488.46,...,2140.86,3162.36,3486.40,3524.17,4265.10,6019.12,6292.32,NaN,NaN,FI
523,CNP ASSURANCES DEAD - DELIST.20/06/22,FR0000120222,120.50,141.64,163.25,145.63,201.69,321.11,394.51,512.80,...,507.09,779.94,1095.55,1026.26,868.54,768.56,1301.16,NaN,NaN,FR
562,EDF DEAD - DELIST.08/06/23,FR0010242511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.88,...,65.35,51.89,78.28,107.76,82.00,84.60,65.43,94.58,NaN,FR
584,TED BAKER DEAD - DELIST.24/10/22,GB0001048619,149.19,493.75,259.43,326.06,300.96,661.53,879.85,887.74,...,5516.47,4570.66,5491.27,3205.51,568.69,261.64,191.29,NaN,NaN,GB
591,BREWIN DOLPHIN DEAD - DELIST.28/09/22,GB0001765816,608.89,1321.94,1226.22,586.55,238.34,878.08,1230.89,1609.88,...,3003.29,3284.97,4535.99,3603.99,4569.31,4112.75,4800.27,NaN,NaN,GB
605,DEVRO DEAD - DELIST.14/04/23,GB0002670437,184.03,101.04,63.35,71.12,80.28,174.41,259.66,237.06,...,675.17,349.06,474.69,361.99,397.96,458.46,611.79,773.95,NaN,GB
614,GO-AHEAD GROUP DEAD - DELIST.11/10/22,GB0003753778,1066.86,791.12,1076.64,861.99,960.08,2172.37,3226.84,3490.22,...,6029.03,5348.72,3947.46,5029.58,5909.25,3418.73,2010.79,NaN,NaN,GB
627,MCKAY SECURITIES DEAD - DELIST.09/05/22,GB0005522007,17156.20,20712.64,25603.06,23424.66,28721.29,41501.87,59176.26,65581.17,...,73978.55,56953.78,79901.60,77817.39,89803.13,71755.26,83194.24,NaN,NaN,GB
632,MEGGITT DEAD - DELIST.14/09/22,GB0005758098,15154.39,14394.00,18502.19,15363.52,16812.44,28031.41,41287.47,51464.29,...,68389.23,70028.62,87570.51,98713.86,126298.60,87228.45,148350.15,NaN,NaN,GB
633,MENZIES (JOHN) DEAD - DELIST.05/08/22,GB0005790059,25467.20,27994.60,30111.87,22769.67,23460.24,37472.74,64767.71,56624.76,...,51860.25,76805.79,96483.51,80777.25,62598.37,36192.84,49643.52,NaN,NaN,GB
642,EUROMONEY INSTL.INVESTOR DEAD - DELIST.25/11/22,GB0006886666,1294.67,2347.68,1730.21,1029.04,913.78,1905.16,2032.61,2408.47,...,4706.62,4983.18,6198.60,6744.60,6354.70,5639.45,5261.51,NaN,NaN,GB
650,RPS GROUP DEAD - DELIST.24/01/23,GB0007594764,1414.55,2763.31,3975.96,3075.39,2604.24,4172.04,3879.19,4457.31,...,4548.18,5980.05,6845.51,4341.93,4999.10,2521.95,3068.12,NaN,NaN,GB
668,ULTRA ELECTRONICS DEAD - DELIST.02/08/22,GB0009123323,261.12,251.73,274.28,265.72,338.61,452.81,667.38,861.75,...,1603.90,1467.00,1220.35,1123.90,1962.65,1886.99,2866.58,NaN,NaN,GB
674,DECHRA PHARMACEUTICALS DEAD - DELIST.17/01/24,GB0009633180,NaN,NaN,232.65,172.70,75.86,219.44,301.09,372.19,...,1776.03,2411.81,4088.35,3873.62,4875.48,6498.30,7131.30,5105.45,NaN,GB
714,RESTAURANT GROUP DEAD - DELIST.22/12/23,GB00B0YG1K06,1389.05,1571.37,1083.90,1295.80,1391.56,2609.28,4243.92,5410.44,...,20920.20,10856.00,10882.95,8318.92,7248.93,5715.68,6191.83,2023.01,NaN,GB
719,LOOKERS DEAD - DELIST.09/10/23,GB00B17MMZ46,9963.05,9494.57,12167.03,16440.84,26631.99,62138.07,66711.56,118219.23,...,197099.93,148552.51,108092.05,135450.38,75082.47,54508.31,135580.39,120388.01,NaN,GB
722,LAMPRELL DEAD - DELIST.25/10/22,GB00B1CL5249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.71,84.28,80.46,52.05,32.01,67.51,30.16,NaN,NaN,GB
757,STAGECOACH GROUP DEAD - DELIST.28/06/22,GB00B6YTLS95,2106.17,1047.71,614.31,559.90,329.72,1063.51,1481.03,1339.74,...,3445.79,2488.17,1909.32,2111.49,1941.42,1254.49,1354.36,NaN,NaN,GB
758,EVRAZ SUSP - SUSP.06/12/23,GB00B71N6K86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.58,91.55,168.29,273.85,232.20,361.36,373.12,NaN,NaN,GB
761,STUDIO RETAIL GROUP DEAD - DELIST.25/02/22,GB00B8B4R053,25577.56,69021.44,64475.56,90339.70,69667.04,146217.07,230335.26,218993.46,...,9556.99,8438.62,10262.30,8023.83,10548.74,12847.38,5415.41,NaN,NaN,GB
764,AIR PARTNER DEAD - DEAD 04/04/22,GB00BD736828,730.91,958.50,1602.43,972.96,1004.61,2460.52,3143.74,3731.31,...,2998.98,3762.32,5651.87,3607.18,3131.36,3367.87,5681.48,NaN,NaN,GB
776,MICRO FOCUS INTL. DEAD - DELIST.01/02/23,GB00BJ1F4N75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.49,...,2017.06,2972.09,3136.51,2260.47,1222.69,821.31,786.95,NaN,NaN,GB
778,DAILY MAIL 'A' DEAD - DELIST.10/01/22,GB00BJQZC279,177533.44,262671.05,166392.31,128144.09,121704.05,187835.64,205194.08,202962.50,...,197647.61,195123.52,199077.31,182894.32,268100.67,291975.70,NaN,NaN,NaN,GB
781,HYVE GROUP DEAD - DELIST.23/05/23,GB00BKP36R26,97.96,173.35,167.51,73.11,114.55,232.65,326.72,502.19,...,597.66,623.33,753.56,465.52,677.26,153.07,133.96,80.43,NaN,GB
797,DIGNITY DEAD - DELIST.25/05/23,GB00BRB37M78,NaN,NaN,NaN,NaN,NaN,NaN,294.80,370.66,...,1615.69,1490.67,511.29,465.56,361.34,400.26,461.42,336.03,NaN,GB
806,HOMESERVE DEAD - DELIST.05/01/23,GB00BYYTFB60,1480.09,1396.19,1895.11,2475.20,1924.81,3076.57,4898.07,8361.15,...,12180.34,16805.06,23972.62,29408.16,40703.05,34800.29,25261.13,NaN,NaN,GB
1022,CATTOLICA ASSICURAZIONI DEAD - DELIST.12/08/22,IT0000784154,NaN,NaN,85.10,57.22,70.90,130.94,151.14,186.23,...,56.41,56.61,116.10,90.42,81.91,53.99,65.69,NaN,NaN,IT
1025,AUTOGRILL DEAD - DELIST.24/07/23,IT0001137345,363.71,467.80,515.64,419.77,329.03,561.52,652.68,623.57,...,823.74,970.43,1480.10,1007.40,1186.40,688.02,934.74,931.06,NaN,IT
1034,ATLANTIA DEAD - DELIST.09/12/22,IT0003506190,202.31,188.51,177.88,197.14,292.68,505.84,892.09,789.38,...,1472.39,1316.08,1851.94,1441.69,1591.84,1217.65,1169.14,NaN,NaN,IT
1707,SWEDISH MATCH DEAD - DELIST.02/01/23,SE0015812219,17.36,18.18,21.51,32.89,41.95,59.52,73.59,77.42,...,276.97,297.93,372.42,441.07,578.75,791.87,845.09,NaN,NaN,SE

In [ ]:
ri_y.iloc[:,2:-1] = ri_y.iloc[:,2:-1].fillna(method='ffill', axis=1)

/var/folders/3d/zlkn8h8d2yx5345bf7csn9bh0000gn/T/ipykernel_8524/138302459.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ri_y.iloc[:,2:-1] = ri_y.iloc[:,2:-1].fillna(method='ffill', axis=1)

,NAME,ISIN,1999,2000,2001,2002,2003,2004,2005,2006,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Country Code
488,ZARDOYA OTIS DEAD - DELIST.09/05/22,ES0184933812,1163.48,740.14,967.08,1151.98,1700.52,2979.34,4379.48,4793.79,...,4961.09,4249.68,5704.73,4431.43,4327.99,4048.75,4924.46,4924.46,4924.46,ES